<div class="warning page404">
  <h1>404 ошибка</h1>
  <p>Страница не найдена ☹️</p>
  <button class="btn" type="button" onclick="window.history.back()">Назад</button>
  <button class="btn" type="button" onclick="location.href = '/'">На главную</button>
</div>